[*.cs]

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1102: Query clause should follow previous clause
dotnet_diagnostic.SA1102.severity = warning

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
